# ====== Name and seed ======
name: horm100
seed: 42

# ====== Directories ======
work_dir: .
log_dir: null
model_dir: null
checkpoints_dir: null
results_dir: null
downloads_dir: null

# ====== Device and logging ======
device: cuda
default_dtype: float32
distributed: false
launcher: slurm
log_level: INFO
plot: true
error_table: TotalMAE # TotalMAEHessian

# ====== Model ======
model: MACE
r_max: 5.0
max_ell: 3
correlation: 3
num_interactions: 2
MLP_irreps: "16x0e"
radial_MLP: "[64, 64, 64]"
hidden_irreps: "128x0e + 128x1o"
edge_irreps: null
max_L: null
avg_num_neighbors: 12.876944541931152
compute_avg_num_neighbors: false
compute_forces: true
predict_hessian: false # for HIP

# ====== HIP / Hessian prediction ======
hip: false
hessian_feature_dim: 32
hessian_use_last_layer_only: true
hessian_r_max: 16.0
hessian_edge_lmax: 3


# ====== Dataset ======
train_file: ~/.cache/kagglehub/datasets/yunhonghan/hessian-dataset-for-optimizing-reactive-mliphorm/versions/5/ts1x_hess_train_big.h5
valid_file: ~/.cache/kagglehub/datasets/yunhonghan/hessian-dataset-for-optimizing-reactive-mliphorm/versions/5/ts1x-val.h5
valid_fraction: 0.1
test_file: null
test_dir: null
num_workers: 0
pin_memory: true
atomic_numbers: "[1, 6, 7, 8]"
mean: -611.9894409179688
std: 0.38076332211494446
statistics_file: null
les_arguments: null
E0s: "{1: 0.0, 6: 0.0, 7: 0.0, 8: 0.0}"

# ====== Keys ======
energy_key: energy
forces_key: forces
hessian_key: hessian # for HIP

# ====== Loss and optimization ======
loss: weighted # MSE for both energy and forces
forces_weight: 100.0
energy_weight: 1.0
virials_weight: 1.0
optimizer: adamw
beta: 0.9
batch_size: 16
valid_batch_size: 16
lr: 0.01
weight_decay: 0.0000005
amsgrad: true
scheduler: ReduceLROnPlateau
lr_factor: 0.8
scheduler_patience: 50
lr_scheduler_gamma: 0.9993
swa: false
ema: false
ema_decay: 0.99
max_num_epochs: 10000
patience: 2048
eval_interval: 1

# ====== Acceleration options ======
enable_cueq: false
only_cueq: false
enable_oeq: false

# ====== Weights and Biases ======
wandb: true
wandb_dir: null
wandb_project: hip-mace
wandb_entity: ""
wandb_name: ""
wandb_log_hypers: null

