# ====== Name and seed ======
name: horm100
seed: 42

# ====== Directories ======
work_dir: .
log_dir: null
model_dir: null
checkpoints_dir: null
results_dir: null
downloads_dir: null

# ====== Device and logging ======
device: cuda
default_dtype: float32
distributed: false
launcher: slurm
log_level: INFO
plot: true
error_table: TotalMAE # TotalMAEHessian

# ====== Model ======
model: MACE
r_max: 5.0
max_ell: 3
correlation: 3
num_interactions: 2
MLP_irreps: "16x0e"
radial_MLP: "[64, 64, 64]"
hidden_irreps: "128x0e + 128x1o + 128x2e"
edge_irreps: null
max_L: null
avg_num_neighbors: 12.876944541931152
compute_avg_num_neighbors: false
compute_forces: true

# ====== HIP / Hessian prediction ======
hip: false


# ====== Dataset ======
train_file: ~/.cache/kagglehub/datasets/yunhonghan/hessian-dataset-for-optimizing-reactive-mliphorm/versions/5/ts1x_hess_train_big.h5
valid_file: ~/.cache/kagglehub/datasets/yunhonghan/hessian-dataset-for-optimizing-reactive-mliphorm/versions/5/ts1x-val.h5
valid_fraction: 0.1 # only used when no explicit validation file is given
max_valid_samples: 2000
samples_per_epoch: 50000 # stop the epoch early after this many samples
test_file: null
test_dir: null
num_workers: 0
pin_memory: true
atomic_numbers: "[1, 6, 7, 8, 9]"
mean: -611.9894409179688
std: 0.38076332211494446
statistics_file: null
les_arguments: null
# https://gitlab.com/matschreiner/Transition1x/-/blob/main/transition1x/dataloader.py
E0s: "{1: -13.62222753701504, 6: -1029.4130839658328, 7: -1484.8710358098756, 8: -2041.8396277138045, 9: -2712.8213146878606}"

# ====== Keys ======
energy_key: energy
forces_key: forces
hessian_key: hessian # for HIP

# ====== Loss and optimization ======
loss: l1l2energyforces # weighted = MSE for both energy and forces
hessian_weight: 50.0
forces_weight: 100.0
energy_weight: 1.0
virials_weight: 1.0
optimizer: adam
beta: 0.9
batch_size: 64
valid_batch_size: 64
lr: 0.01
weight_decay: 5e-7
amsgrad: true
scheduler: ReduceLROnPlateau
lr_factor: 0.8
scheduler_patience: 5
lr_scheduler_gamma: 0.9993
warmup_epochs: 100
min_lr: 0.0001
swa: false # stochastic weight averaging
ema: false # exponential moving average
ema_decay: 0.99
max_num_epochs: 100
patience: 2048
eval_interval: 1

# ====== Acceleration options ======
enable_cueq: false
only_cueq: false
enable_oeq: false

# ====== Weights and Biases ======
wandb: true
wandb_dir: null
wandb_project: hip-mace
wandb_entity: ""
wandb_name: ""
wandb_log_hypers: null

